
  {% extends "main/base.html" %}

  {% block content %}
  <section class="courses">
      
          <h4>{{title}}</h4>
      <article class="registration">
       <p> We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

       <p></p> If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  
 
  
  
  </article>
  
  </section>
  {% endblock %}
  {% block formadjust %}
  <script type="text/javascript">
      $('document').ready(function(){
          $(' input').addClass('form-control');
          $(' input').css('margin-bottom','10px');
          $('.courses li').css('color','red');
          $('.checkout_form label').css('display','none');
          
      })
  </script>
  {% endblock formadjust %}