{% extends "main/base_try.html" %}
{% load static %}
{% block content %}
<div class="single-product-area detail-section section-padding clearfix indextry">
<!-- HOME -->

    <!-- container -->
    <!-- <div class="container"> -->
        <!-- home wrap -->
        <div class="home-wrap" id="indextry">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                <div class="banner banner-1" style="width:95%;height:70%;">
                    <img src="{% static 'img/core-img/christmas.jpg' %}" alt="">
                    <div class="banner-caption text-center">
                        <h1>Are You A Retailer?</h1>
                        <h4 class="white-color font-weak">Scale Up Your Business Now By Creating A Free Online Store To Showcase Your Goods</h4>
                        <button onclick=window.location.assign("{% url 'company:create' %}") class="primary-btn">Create Store</button>
                    </div>
                </div>
                <!-- /banner -->

                <!-- banner -->
                <div class="banner banner-1" style="width:95%">
                    <img src="{% static 'img/core-img/christmas1.jpg' %}"  alt="">
                    <div class="banner-caption">
                        <h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50% OFF</span></h1>
                        <button onclick=window.location.assign("{% url 'products:list' %}") class="primary-btn">Shop Now</button>
                    </div>
                </div>
                <!-- /banner -->

                <!-- banner -->
                <div class="banner banner-1" style="width:95%; height:70% ;">
                    <img src="{% static 'img/core-img/christmas2.jpg' %}" alt="">
                    <div class="banner-caption">
                        <h1 class="white-color">Make Money By Refering People To Buy Now </h1>
                        <button onclick=window.location.assign("{% url 'referral:create' %}") class="primary-btn">Refer Others</button>
                    </div>
                </div>
                <!-- /banner -->
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    <!-- </div> -->
    <!-- /container -->

<!-- /HOME -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Latest Products</h2>
                </div>
            </div>
            <!-- section title -->

            

            <!-- Product Single -->
            {% for product in products|slice:":3" %}
            <div id="{{product.slug}}"  class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-{{product.discount}}%</span>
                        </div>
                        <a href="{{product.get_absolute_url}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">&#8358;{{product.price}} <del class="product-old-price">&#8358;{{product.discounted_from}}</del></h3>
                        
                        <h2 class="product-name"><a href="#">{{product.name}}</a></h2>
                       {% if product.rating > 0 %} <div class="rating-class">
                          <input type="hidden" name="" id="" value="{{product.rating}}" />
                        </div>{% endif %}
                        <!-- <div class="product-btns">
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-heart"></i></button>
    
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-exchange"></i></button>
                         <div class="cart-div">
                           
                            {% for sale in carts.content.all %}{% if product == sale.product %}
                        <input type="hidden" name="" class="incarttest" value="{{product}}" />    
                            <button class="default-btn add-to-cart pull-right" style="background-color:#30323A;" onclick="window.location.href='/cart/'">
                                <i class="fa fa-shopping-cart"></i> Added To Cart 
                            </button>
                            {% endif %}{% endfor %}
                            {% if not user.is_authenticated %}
<button class="primary-btn pull-right" onclick="window.location.href='/account/login/?next={{ request.path }}#{{product.slug}}'"><i class="fa fa-shopping-cart" ></i> Add To Cart </button>{% else %}
                            <form class="cart clearfix pull-right cart-form" method="post" action="">{% csrf_token %}
                                <input type="hidden" name="product_name" value="{{product.id}}" />
                  <input type="hidden" name="product_qty" value="{{product.quantity}}" />
                   <input type="hidden" name="product_price" value="{{product.price}}" />
                    <input type="hidden" name="product_csrf" value="{{csrf_token}}" />
                    <div>
                      
                    </div>
                                <button class="primary-btn add-to-cart main-cart-btn"><i class="fa fa-shopping-cart" onclick="preventDefault()"></i> Add To Cart </button>
                                
                            </form>
                            {% endif %}
</div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                      
                        <a href="{% url 'products:list' %}"><button class="main-btn quick-view" style="display:block;visibility: visible;"><i class="fa fa-search-plus"></i> View All Goods</button></a>
                        <img src="{% static 'img/myimages/tailor.jpg' %}" alt="" />
                    </div>
                    <!-- <div class="product-body">
                        
                        
                        <h2 class="product-name"><a href="#"></a></h2>
                       
                    </div> -->
                </div>
            </div>
            <!-- /Product Single -->

        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <!-- banner -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="banner banner-2">
                    <img src="{% static 'dist/img/banner15.jpg' %}" alt="">
                    <div class="banner-caption">
                        <h2 class="white-color">TOP<br>RATED SHOPS</h2>
<                        <a href="{% url 'company:list' %}"><button class="primary-btn">View Now</button></a>
>                    </div>
                </div>
            </div>
            <!-- /banner -->

            <!-- Product Single -->
            {% for shop in shops|slice:":7" %}
             <a href="{{shop.get_company_url}}">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        
                        <a href="{{shop.get_company_url}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                        {% if shop.logo %}<img src="{{shop.logo.url}}" alt="">{% endif %}
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">{{shop.name}}</h3>
                        <div class="product-rating rating-class">
<input type="hidden" name="" id="" value="{{shop.rating}}" />
                        </div>
                        <h2 class="product-name"><a href="{{shop.get_company_url}}">{{shop.description | truncatechars:30}}</a></h2>

                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
            <!-- /Product Single -->

           
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Picked For You</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            {% for product in picked_products|slice:":12" %}
            <div id="{{product.slug}}"  class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-{{product.discount}}%</span>
                        </div>
                        <a href="{{product.get_absolute_url}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">&#8358;{{product.price}} <del class="product-old-price">&#8358;{{product.discounted_from}}</del></h3>
                        
                        <h2 class="product-name"><a href="#">{{product.name}}</a></h2>
                       {% if product.rating > 0 %} <div class="rating-class">
                          <input type="hidden" name="" id="" value="{{product.rating}}" />
                        </div>{% endif %}
                        <!-- <div class="product-btns">
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-heart"></i></button>
    
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-exchange"></i></button>
                         <div class="cart-div">
                           
                            {% for sale in carts.content.all %}{% if product == sale.product %}
                        <input type="hidden" name="" class="incarttest" value="{{product}}" />    
                            <button class="default-btn add-to-cart pull-right" style="background-color:#30323A;" onclick="window.location.href='/cart/'">
                                <i class="fa fa-shopping-cart"></i> Added To Cart 
                            </button>
                            {% endif %}{% endfor %}
                            {% if not user.is_authenticated %}
<button class="primary-btn pull-right" onclick="window.location.href='/account/login/?next={{ request.path }}#{{product.slug}}'"><i class="fa fa-shopping-cart" ></i> Add To Cart </button>{% else %}
                            <form class="cart clearfix pull-right cart-form" method="post" action="">{% csrf_token %}
                                <input type="hidden" name="product_name" value="{{product.id}}" />
                  <input type="hidden" name="product_qty" value="{{product.quantity}}" />
                   <input type="hidden" name="product_price" value="{{product.price}}" />
                    <input type="hidden" name="product_csrf" value="{{csrf_token}}" />
                    <div>
                      
                    </div>
                                <button class="primary-btn add-to-cart main-cart-btn"><i class="fa fa-shopping-cart" onclick="preventDefault()"></i> Add To Cart </button>
                                
                            </form>
                            {% endif %}
</div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /Product Single -->

            
        </div>
        <!-- /row -->
         <!-- row -->
         <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Fashion Products</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            {% for product in fashion_products|slice:":8" %}
            
            <div id="{{product.slug}}"  class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-{{product.discount}}%</span>
                        </div>
                        <a href="{{product.get_absolute_url}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">&#8358;{{product.price}} <del class="product-old-price">&#8358;{{product.discounted_from}}</del></h3>
                        
                        <h2 class="product-name"><a href="#">{{product.name}}</a></h2>
                       {% if product.rating > 0 %} <div class="rating-class">
                          <input type="hidden" name="" id="" value="{{product.rating}}" />
                        </div>{% endif %}
                        <!-- <div class="product-btns">
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-heart"></i></button>
    
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-exchange"></i></button>
                         <div class="cart-div">
                           
                            {% for sale in carts.content.all %}{% if product == sale.product %}
                        <input type="hidden" name="" class="incarttest" value="{{product}}" />    
                            <button class="default-btn add-to-cart pull-right" style="background-color:#30323A;" onclick="window.location.href='/cart/'">
                                <i class="fa fa-shopping-cart"></i> Added To Cart 
                            </button>
                            {% endif %}{% endfor %}
                            {% if not user.is_authenticated %}
<button class="primary-btn pull-right" onclick="window.location.href='/account/login/?next={{ request.path }}#{{product.slug}}'"><i class="fa fa-shopping-cart" ></i> Add To Cart </button>{% else %}
                            <form class="cart clearfix pull-right cart-form" method="post" action="">{% csrf_token %}
                                <input type="hidden" name="product_name" value="{{product.id}}" />
                  <input type="hidden" name="product_qty" value="{{product.quantity}}" />
                   <input type="hidden" name="product_price" value="{{product.price}}" />
                    <input type="hidden" name="product_csrf" value="{{csrf_token}}" />
                    <div>
                      
                    </div>
                                <button class="primary-btn add-to-cart main-cart-btn"><i class="fa fa-shopping-cart" onclick="preventDefault()"></i> Add To Cart </button>
                                
                            </form>
                            {% endif %}
</div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /Product Single -->

            
        </div>
        <!-- /row -->
         <!-- row -->
         <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Phones & Electronics</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            {% for product in electronic_products|slice:":8" %}
            <div id="{{product.slug}}"  class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-{{product.discount}}%</span>
                        </div>
                        <a href="{{product.get_absolute_url}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">&#8358;{{product.price}} <del class="product-old-price">&#8358;{{product.discounted_from}}</del></h3>
                        
                        <h2 class="product-name"><a href="#">{{product.name}}</a></h2>
                       {% if product.rating > 0 %} <div class="rating-class">
                          <input type="hidden" name="" id="" value="{{product.rating}}" />
                        </div>{% endif %}
                        <!-- <div class="product-btns">
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-heart"></i></button>
    
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-exchange"></i></button>
                         <div class="cart-div">
                           
                            {% for sale in carts.content.all %}{% if product == sale.product %}
                        <input type="hidden" name="" class="incarttest" value="{{product}}" />    
                            <button class="default-btn add-to-cart pull-right" style="background-color:#30323A;" onclick="window.location.href='/cart/'">
                                <i class="fa fa-shopping-cart"></i> Added To Cart 
                            </button>
                            {% endif %}{% endfor %}
                            {% if not user.is_authenticated %}
<button class="primary-btn pull-right" onclick="window.location.href='/account/login/?next={{ request.path }}#{{product.slug}}'"><i class="fa fa-shopping-cart" ></i> Add To Cart </button>{% else %}
                            <form class="cart clearfix pull-right cart-form" method="post" action="">{% csrf_token %}
                                <input type="hidden" name="product_name" value="{{product.id}}" />
                  <input type="hidden" name="product_qty" value="{{product.quantity}}" />
                   <input type="hidden" name="product_price" value="{{product.price}}" />
                    <input type="hidden" name="product_csrf" value="{{csrf_token}}" />
                    <div>
                      
                    </div>
                                <button class="primary-btn add-to-cart main-cart-btn"><i class="fa fa-shopping-cart" onclick="preventDefault()"></i> Add To Cart </button>
                                
                            </form>
                            {% endif %}
</div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /Product Single -->

            
        </div>
        <!-- /row -->
         <!-- row -->
         <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Home & Kitchen Products</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            {% for product in home_products|slice:":8" %}
            <div id="{{product.slug}}"  class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-{{product.discount}}%</span>
                        </div>
                        <a href="{{product.get_absolute_url}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">&#8358;{{product.price}} <del class="product-old-price">&#8358;{{product.discounted_from}}</del></h3>
                        
                        <h2 class="product-name"><a href="#">{{product.name}}</a></h2>
                       {% if product.rating > 0 %} <div class="rating-class">
                          <input type="hidden" name="" id="" value="{{product.rating}}" />
                        </div>{% endif %}
                        <!-- <div class="product-btns">
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-heart"></i></button>
    
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-exchange"></i></button>
                         <div class="cart-div">
                           
                            {% for sale in carts.content.all %}{% if product == sale.product %}
                        <input type="hidden" name="" class="incarttest" value="{{product}}" />    
                            <button class="default-btn add-to-cart pull-right" style="background-color:#30323A;" onclick="window.location.href='/cart/'">
                                <i class="fa fa-shopping-cart"></i> Added To Cart 
                            </button>
                            {% endif %}{% endfor %}
                            {% if not user.is_authenticated %}
                        <button class="primary-btn pull-right" onclick="window.location.href='/account/login/?next={{ request.path }}#{{product.slug}}'"><i class="fa fa-shopping-cart" ></i> Add To Cart </button>{% else %}
                            <form class="cart clearfix pull-right cart-form" method="post" action="">{% csrf_token %}
                                <input type="hidden" name="product_name" value="{{product.id}}" />
                  <input type="hidden" name="product_qty" value="{{product.quantity}}" />
                   <input type="hidden" name="product_price" value="{{product.price}}" />
                    <input type="hidden" name="product_csrf" value="{{csrf_token}}" />
                    <div>
                      
                    </div>
                                <button class="primary-btn add-to-cart main-cart-btn"><i class="fa fa-shopping-cart" onclick="preventDefault()"></i> Add To Cart </button>
                                
                            </form>
                            {% endif %}
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /Product Single -->

            
        </div>
        <!-- /row -->
         <!-- row -->
         <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Furnitures & WoodWork Products</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            {% for product in furniture_products|slice:":8" %}
            <div id="{{product.slug}}"  class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-{{product.discount}}%</span>
                        </div>
                        <a href="{{product.get_absolute_url}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">&#8358;{{product.price}} <del class="product-old-price">&#8358;{{product.discounted_from}}</del></h3>
                        
                        <h2 class="product-name"><a href="#">{{product.name}}</a></h2>
                       {% if product.rating > 0 %} <div class="rating-class">
                          <input type="hidden" name="" id="" value="{{product.rating}}" />
                        </div>{% endif %}
                        <!-- <div class="product-btns">
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-heart"></i></button>
    
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-exchange"></i></button>
                         <div class="cart-div">
                           
                            {% for sale in carts.content.all %}{% if product == sale.product %}
                        <input type="hidden" name="" class="incarttest" value="{{product}}" />    
                            <button class="default-btn add-to-cart pull-right" style="background-color:#30323A;" onclick="window.location.href='/cart/'">
                                <i class="fa fa-shopping-cart"></i> Added To Cart 
                            </button>
                            {% endif %}{% endfor %}
                            {% if not user.is_authenticated %}
<button class="primary-btn pull-right" onclick="window.location.href='/account/login/?next={{ request.path }}#{{product.slug}}'"><i class="fa fa-shopping-cart" ></i> Add To Cart </button>{% else %}
                            <form class="cart clearfix pull-right cart-form" method="post" action="">{% csrf_token %}
                                <input type="hidden" name="product_name" value="{{product.id}}" />
                  <input type="hidden" name="product_qty" value="{{product.quantity}}" />
                   <input type="hidden" name="product_price" value="{{product.price}}" />
                    <input type="hidden" name="product_csrf" value="{{csrf_token}}" />
                    <div>
                      
                    </div>
                                <button class="primary-btn add-to-cart main-cart-btn"><i class="fa fa-shopping-cart" onclick="preventDefault()"></i> Add To Cart </button>
                                
                            </form>
                            {% endif %}
</div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /Product Single -->

            
        </div>
        <!-- /row -->
         <!-- row -->
         <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Pets & Livestock Products</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            {% for product in livestock_products|slice:":8" %}
            <div id="{{product.slug}}"  class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-{{product.discount}}%</span>
                        </div>
                        <a href="{{product.get_absolute_url}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">&#8358;{{product.price}} <del class="product-old-price">&#8358;{{product.discounted_from}}</del></h3>
                        
                        <h2 class="product-name"><a href="#">{{product.name}}</a></h2>
                       {% if product.rating > 0 %} <div class="rating-class">
                          <input type="hidden" name="" id="" value="{{product.rating}}" />
                        </div>{% endif %}
                        <!-- <div class="product-btns">
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-heart"></i></button>
    
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-exchange"></i></button>
                         <div class="cart-div">
                           
                            {% for sale in carts.content.all %}{% if product == sale.product %}
                        <input type="hidden" name="" class="incarttest" value="{{product}}" />    
                            <button class="default-btn add-to-cart pull-right" style="background-color:#30323A;" onclick="window.location.href='/cart/'">
                                <i class="fa fa-shopping-cart"></i> Added To Cart 
                            </button>
                            {% endif %}{% endfor %}
                            {% if not user.is_authenticated %}
<button class="primary-btn pull-right" onclick="window.location.href='/account/login/?next={{ request.path }}#{{product.slug}}'"><i class="fa fa-shopping-cart" ></i> Add To Cart </button>{% else %}
                            <form class="cart clearfix pull-right cart-form" method="post" action="">{% csrf_token %}
                                <input type="hidden" name="product_name" value="{{product.id}}" />
                  <input type="hidden" name="product_qty" value="{{product.quantity}}" />
                   <input type="hidden" name="product_price" value="{{product.price}}" />
                    <input type="hidden" name="product_csrf" value="{{csrf_token}}" />
                    <div>
                      
                    </div>
                                <button class="primary-btn add-to-cart main-cart-btn"><i class="fa fa-shopping-cart" onclick="preventDefault()"></i> Add To Cart </button>
                                
                            </form>
                            {% endif %}
</div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /Product Single -->

            
        </div>
        <!-- /row -->
         <!-- row -->
         <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Health & Beauty Products</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            {% for product in health_products|slice:":8" %}
            <div id="{{product.slug}}"  class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-{{product.discount}}%</span>
                        </div>
                        <a href="{{product.get_absolute_url}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">&#8358;{{product.price}} <del class="product-old-price">&#8358;{{product.discounted_from}}</del></h3>
                        
                        <h2 class="product-name"><a href="#">{{product.name}}</a></h2>
                       {% if product.rating > 0 %} <div class="rating-class">
                          <input type="hidden" name="" id="" value="{{product.rating}}" />
                        </div>{% endif %}
                        <!-- <div class="product-btns">
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-heart"></i></button>
    
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-exchange"></i></button>
                         <div class="cart-div">
                           
                            {% for sale in carts.content.all %}{% if product == sale.product %}
                        <input type="hidden" name="" class="incarttest" value="{{product}}" />    
                            <button class="default-btn add-to-cart pull-right" style="background-color:#30323A;" onclick="window.location.href='/cart/'">
                                <i class="fa fa-shopping-cart"></i> Added To Cart 
                            </button>
                            {% endif %}{% endfor %}
                            {% if not user.is_authenticated %}
                        <button class="primary-btn pull-right" onclick="window.location.href='/account/login/?next={{ request.path }}#{{product.slug}}'"><i class="fa fa-shopping-cart" ></i> Add To Cart </button>{% else %}
                            <form class="cart clearfix pull-right cart-form" method="post" action="">{% csrf_token %}
                                <input type="hidden" name="product_name" value="{{product.id}}" />
                  <input type="hidden" name="product_qty" value="{{product.quantity}}" />
                   <input type="hidden" name="product_price" value="{{product.price}}" />
                    <input type="hidden" name="product_csrf" value="{{csrf_token}}" />
                    <div>
                      
                    </div>
                                <button class="primary-btn add-to-cart main-cart-btn"><i class="fa fa-shopping-cart" onclick="preventDefault()"></i> Add To Cart </button>
                                
                            </form>
                            {% endif %}
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /Product Single -->

            
        </div>
        <!-- /row -->
         <!-- row -->
         <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Automobile Products</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            {% for product in automobile_products|slice:":8" %}
            <div id="{{product.slug}}"  class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-{{product.discount}}%</span>
                        </div>
                        <a href="{{product.get_absolute_url}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">&#8358;{{product.price}} <del class="product-old-price">&#8358;{{product.discounted_from}}</del></h3>
                        
                        <h2 class="product-name"><a href="#">{{product.name}}</a></h2>
                       {% if product.rating > 0 %} <div class="rating-class">
                          <input type="hidden" name="" id="" value="{{product.rating}}" />
                        </div>{% endif %}
                        <!-- <div class="product-btns">
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-heart"></i></button>
    
                            <button class="main-btn icon-btn pull-left"><i class="fa fa-exchange"></i></button>
                         <div class="cart-div">
                           
                            {% for sale in carts.content.all %}{% if product == sale.product %}
                        <input type="hidden" name="" class="incarttest" value="{{product}}" />    
                            <button class="default-btn add-to-cart pull-right" style="background-color:#30323A;" onclick="window.location.href='/cart/'">
                                <i class="fa fa-shopping-cart"></i> Added To Cart 
                            </button>
                            {% endif %}{% endfor %}
                            {% if not user.is_authenticated %}
                        <button class="primary-btn pull-right" onclick="window.location.href='/account/login/?next={{ request.path }}#{{product.slug}}'"><i class="fa fa-shopping-cart" ></i> Add To Cart </button>{% else %}
                            <form class="cart clearfix pull-right cart-form" method="post" action="">{% csrf_token %}
                                <input type="hidden" name="product_name" value="{{product.id}}" />
                  <input type="hidden" name="product_qty" value="{{product.quantity}}" />
                   <input type="hidden" name="product_price" value="{{product.price}}" />
                    <input type="hidden" name="product_csrf" value="{{csrf_token}}" />
                    <div>
                      
                    </div>
                                <button class="primary-btn add-to-cart main-cart-btn"><i class="fa fa-shopping-cart" onclick="preventDefault()"></i> Add To Cart </button>
                                
                            </form>
                            {% endif %}
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /Product Single -->

            
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
</div>
{% endblock content %}