{% extends 'main/base_test.html' %}
{% block content %}
{{block.super}}

<p>
    it has to be  done within 7 days after request as soon as the buyer indicates the item has been recieved your ojaa.me account will be credited and disbusment will be made to your band account within 24 hours.
</P>
<p>
    The unmonitored plan allows you to collect the money for purchase items within 24 hours after purchase but a caution sign will be placed on the web site and each product as unmonitored thus ojaa.me is not liable to any problem as a result of such transaction.
</p>
{% endblock content %}