{% extends 'main/base.html' %}
{% block content %}
{{block.super}}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>{{title}}</h2>
                    </div>

                    <form action="." method="post" class="checkout_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-12 mb-3">
                                {{form.as_p}}
                                <p>Notice: Delivery of items will be done by your company. Ojaa will not be liable for any problem incured during package or delivery of items.</p>
                            </div>
                           
            

                            
                        </div>
                        <button type="submit" class="btn amado-btn w-100">{{button}}</button>
                    </form>
                </div>
            </div>
           
        </div>
    </div>
</div>
</div>
{% endblock content %}
{% block formadjust %}
<script type="text/javascript">
    $('document').ready(function(){
        $('.checkout_form input').addClass('form-control');
        $('.checkout_form li').css('color','navy');
        $('.checkout_form textarea').addClass('form-control');
        $('.checkout_form select').addClass('form-control');
        $('.checkout_form input[type="checkbox"]').removeClass('form-control');
        $('.checkout_form input').css('margin-bottom','10px');
        $('.checkout_form select').css('margin-bottom','10px');
        $('.checkout_form .nice-select').css('width','100%');
        // $('.checkout_form label').css('display','none')
        $('#id_comment').addClass('.w-100')
        $('.helptext').css({'color':'grey','font-size':'0.9em','width':'1000px'});
    })
</script>
{% endblock formadjust %}